.hero {
    background-color: #fff;
    height: 260px;
    width: 260px;
    border-radius: 50%;
    box-shadow: 0 10px 15px rgba(0, 112, 243, 0.25);
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.05)) drop-shadow(0px 10px 15px rgba(0, 112, 243, 0.25));
}